<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chapter 7 Testing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C3F04271C1791F4007B3906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3F043E1C1791F4007B3906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3F04491C1791F4007B3906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
